<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="card" th:fragment="timeline">
    <div class="card-header card-header-icon" data-background-color="green">
        <i class="material-icons">language</i>
    </div>
    <div class="card-content">
        <h4 class="card-title">Timeline</h4>
        <div class="row">
            <div class="col-md-12">
                {% if timelines %}
                {% if timelines.total > timelines.per_page %}
                {{ p.pagination_widget(timelines,'.page') }}
                {% endif %}
                {% endif %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        {% for timeline in timelines.items %}
                        <tr>
                            <td style="width:50px;">
                                <div>
                                    <img class="img-circle" th:src="@{/img/default-avatar.png}">
                                </div>
                            </td>
                            <td style="white-space:normal;font-size: small;">
                                <p style="margin: 0;font-weight: bold;"><a th:href="@{|/user/1|}">{{ timeline.user.user_name }}</a></p>
                                <p style="margin: 0;">{{ timeline.content }}</p>
                            </td>
                            <td style="white-space:normal;" class="td-actions text-right">
                                {% if timeline.user_id == session.user.id %}
                                <a th:href="@{/delete/1}" rel="tooltip" class="btn btn-danger">
                                    <i class="material-icons">close</i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
