<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title></title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                    <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand"> User </p>
            </div>
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-right" action="/user" role="search">
                    <div class="form-group form-search is-empty">
                        <input type="text" name="user_name" class="form-control" placeholder="Search">
                        <span class="material-input"></span>
                    </div>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-content">
                            <form method="get" action="/user">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="form-group label-floating">
                                                <label class="control-label">ユーザー名</label>
                                                <input type="text" class="form-control" name="user_name" th:value="${param.user_name}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-rose pull-right">検索</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="green">
                            <i class="material-icons">face</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">User</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    {% if pagination %}
                                    {% if pagination.total > pagination.per_page %}
                                    {{ p.pagination_widget(pagination,'.index', user_name=request.args.get('user_name', '')) }}
                                    {% endif %}
                                    {% endif %}
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                            {% for user in pagination.items %}
                                            <tr>
                                                <td width="40px">
                                                    <div>
                                                        <img class="img-circle" th:src="@{/img/default-avatar.png}">
                                                    </div>
                                                </td>
                                                <td width="100px">
                                                    <a th:href="|/profile/1|" th:text="${session.user.user_name}"></a>
                                                </td>
                                                <td class="td-actions text-right">
                                                    {% if session.user.id != user.id %}
                                                    {% if user.is_followed(session.user.id) %}
                                                    <a th:href="|/unfollow/1|" class="btn btn-simple btn-rose">
                                                        <i class="material-icons">favorite</i>
                                                    </a>
                                                    {% else %}
                                                    <a th:href="|/follow/1|" class="btn btn-simple btn-rose">
                                                        <i class="material-icons">favorite_border</i>
                                                    </a>
                                                    {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div th:replace="fragments/profile :: profile"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
