<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <!-- Main Footer -->
    <footer class="footer" th:fragment="footer">
      <div class="container">
          <nav class="pull-left">
          </nav>
          <p class="copyright pull-right">
              &copy; 1954-
              <script>
                  document.write(new Date().getFullYear())
              </script>
              <a href="https://www.gaban.co.jp/" target="_blank">GABAN Co., Ltd.</a> All rights reserved.
          </p>
      </div>
    </footer>
  </body>
</html>