<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="card card-profile" th:fragment="profile">
    <div class="card-avatar">
        <a href="#">
            <img class="img" th:src="@{/img/default-avatar.png}" />
        </a>
    </div>
    <div class="card-content">
        <h6 class="category text-gray" th:text="${user.job}"></h6>
        <h4 class="card-title" th:text="${user.userName}"></h4>
        <p class="description" th:text="${user.self_introduction}"></p>

        <a th:if="${session.user.id} == ${user.id}" th:href="|/profile/${user.id}|" class="btn btn-rose btn-round">
            プロフィールを編集
        </a>
        <div th:unless="${session.user.id} == ${user.id}" th:remove="tag">
            <a th:if="${user.isFollowed(__${session.user.id}__)}" th:href="|/unfollow/${user.id}|" class="btn btn-rose btn-round">
                フォロー解除
            </a>
            <a th:unless="${user.isFollowed(__${session.user.id}__)}" th:href="|/follow/${user.id}|" class="btn btn-rose btn-round">
                フォローする
            </a>
        </div>
    </div>
    <div class="card-footer">
        <div class="pull-left">
            <p>ツイート</p>
            <p th:text="${user.getPosts().size()}"></p>
        </div>
        <div class="text-center">
            <p>フォロー</p>
            <p th:text="${user.getFollower().size()}"></p>
        </div>
        <div class="pull-right">
            <p>フォロワー</p>
            <p th:text="${user.getFollowing().size()}"></p>
        </div>
    </div>
</div>
</body>
</html>
